<h2 class="text-secondary">List of available products</h2>
<br>
Search : <input [(ngModel)]="listFilter" type="text">
<br><br>
<p>filtered by : {{listFilter}}</p>
<br>
<table class="table table-bordered" *ngIf="products && products.length">
    <thead>
      <tr>
        <th scope="col"><button class="btn btn-light" (click)=toggleImage()>
          {{ showImage ? "Hide" : "Show"}} Image
        </button></th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th>
          <img *ngIf="showImage" [src]="product.image_url" [alt]="product.name" [style.width.px]="imageWidth" [style.margin]="imageMargin">
        </th>
        <td>{{product.name}}</td>
        <td>{{product.type}}</td>
        <td>{{product.price}}</td>
      </tr>

    </tbody>
  </table>