<h2 class="text-secondary">List of available products</h2>
<br>
<table class="table table-bordered" *ngIf="products && products.length">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.type}}</td>
        <td>{{product.price}}</td>
      </tr>

    </tbody>
  </table>